pkgbase = tencent-meeting
	pkgdesc = Tencent Meeting (腾讯会议 / WeMeet) Linux client with Wayland compatibility and Bubblewrap sandbox
	pkgver = 3.26.10.401
	pkgrel = 1
	url = https://meeting.tencent.com/
	arch = x86_64
	arch = aarch64
	arch = loong64
	license = LicenseRef-Proprietary
	makedepends = patchelf
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libglvnd
	depends = libpulse
	depends = libx11
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxinerama
	depends = libxrandr
	depends = libyuv
	depends = nss
	depends = openssl
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-svg
	depends = qt5-x11extras
	depends = systemd-libs
	depends = zlib
	optdepends = bubblewrap: Privacy sandbox isolation and dark mode text color fix
	optdepends = qt5-wayland: Native Wayland support
	provides = wemeet
	provides = tencent-meeting
	provides = wemeet-bin
	conflicts = wemeet
	conflicts = wemeet-bin
	noextract = tencent-meeting-3.26.10.401-x86_64.deb
	noextract = tencent-meeting-3.26.10.401-aarch64.deb
	noextract = tencent-meeting-3.26.10.401-loong64.deb
	options = !strip
	options = !debug
	source = meeting.sh
	source = tencent-meeting.desktop
	source = wrap.c
	source = LICENSE
	sha256sums = 27099a22a16fc730ac7363d76437d15c2382534a84adc531f3fff3c6a1f07908
	sha256sums = 274309c44a6984565a14f310fd077178c43cdaa662ce3ba23f169db68d7ecf75
	sha256sums = 283d39dcff388c1c2c578956673b55d96e94c2cb7733ce6ca87c63916b06e9c6
	sha256sums = ae4739e0856aaa1c16e1e9bd2a7157ac1519f3f7d0365cdd365715495f9e3f78
	source_x86_64 = tencent-meeting-3.26.10.401-x86_64.deb::https://updatecdn.meeting.qq.com/cos/72e0e0023e1d1e6d4123fba28821aea1/TencentMeeting_0300000000_3.26.10.401_x86_64_default.publish.officialwebsite.deb
	sha256sums_x86_64 = 70f37b029209c0ef91be9813eebf6650c6cb9a00f7c718490158773e2fe6acaf
	source_aarch64 = tencent-meeting-3.26.10.401-aarch64.deb::https://updatecdn.meeting.qq.com/cos/c06d6bc4a3370dbfb2f43bbc6ff8969e/TencentMeeting_0300000000_3.26.10.401_arm64_default.publish.officialwebsite.deb
	sha256sums_aarch64 = 5b9d04d5b9aa24b3c353b158d2a34a3e5875cfc03d133d4673e36b1d0841c202
	source_loong64 = tencent-meeting-3.26.10.401-loong64.deb::https://updatecdn.meeting.qq.com/cos/399aded330e344aa1327064170be86e8/TencentMeeting_0300000000_3.26.10.401_loongarch64_default.publish.officialwebsite.deb
	sha256sums_loong64 = 2746b5f411500de9d95a3f3db565d251c27b924388b254e788f840398fffe00e

pkgname = tencent-meeting
