pkgbase = openai-chatgpt
	pkgdesc = Official ChatGPT desktop application by OpenAI
	pkgver = 26.911.61220
	pkgrel = 1
	url = https://developers.openai.com/codex/app
	arch = x86_64
	arch = aarch64
	license = LicenseRef-OpenAI-Proprietary
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libgcc
	depends = libglvnd
	depends = libnotify
	depends = libsecret
	depends = libstdc++
	depends = libusb
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxss
	depends = mesa
	depends = nspr
	depends = nss
	depends = openssl
	depends = pango
	depends = systemd-libs
	depends = tar
	depends = tpm2-tss
	depends = vulkan-swrast
	depends = xdg-utils
	depends = xz
	optdepends = git: Git-backed workflows and plugin synchronization
	provides = chatgpt
	provides = chatgpt-bin
	conflicts = chatgpt
	conflicts = chatgpt-bin
	conflicts = chatgpt-desktop-bin
	noextract = chatgpt-bin-26.911.61220-1-x86_64.pkg.tar.zst
	noextract = chatgpt-bin-26.911.61220-1-aarch64.pkg.tar.zst
	options = !strip
	options = !debug
	backup = etc/apparmor.d/chatgpt
	source_x86_64 = chatgpt-bin-26.911.61220-1-x86_64.pkg.tar.zst::https://persistent.oaistatic.com/codex-app-prod/linux/arch/26.911.61220/x86_64/chatgpt-bin-26.911.61220-1-x86_64.pkg.tar.zst
	sha256sums_x86_64 = 9bd7fcc582c1779388d0778230533c3fae54b9f54021a4bac936baf90be8a78a
	source_aarch64 = chatgpt-bin-26.911.61220-1-aarch64.pkg.tar.zst::https://persistent.oaistatic.com/codex-app-prod/linux/arch/26.911.61220/aarch64/chatgpt-bin-26.911.61220-1-aarch64.pkg.tar.zst
	sha256sums_aarch64 = a95fe5abedbe7c4af36e38d61253171f8bb0df5c7ad9b27a64fa39c913a6d4f7

pkgname = openai-chatgpt
